<dl class='metadata-block'>
  {% for item in include.meta %}
    {% if item.value contains 'page.' %}
      {% assign key = item.value | remove: 'page.' %}
      {% assign value = page[key] %}
    {% else %}
      {% assign value = item.value %}
    {% endif %}

    {% comment %}
    this is the new loop block
    {% endcomment %}
    {% if value | strip != '' %}
      {% if item.type == 'loop' and item.sub %}
        <dt>{{ item.label }}</dt>
        <dd>
          <ol>
            {% for s in value %}
              <li>
              {% for i in item.sub %}
                {% assign subkey = i.value | remove: 'item.' %}
                <b>{{ i.label }}:</b> {{ s[subkey] }}<br>
              {% endfor %}
              </li>
            {% endfor %}
          </ol>
        </dd>
      {% comment %}
      end of loop block
      {% endcomment %}
      {% elsif item.type == 'link' %}
        {% if key == 'manifest' %}
          {%- capture value -%}
            <a href="{{ value | absolute_url }}" target="_blank" rel="noreferrer">{{ value | absolute_url }}</a>
          {%- endcapture -%}
        {% else %}
          {%- capture value -%}
            <a href="{{ value | absolute_url }}" target="_blank" rel="noreferrer">
              {{ value | absolute_url | remove: 'https://' | remove: 'http://' | split: "/" | first }}
            </a>
          {%- endcapture -%}
        {% endif %}
        <dt>{{ item.label }}</dt>
        <dd>{{ value | strip }}</dd>
      {% else %}
        <dt>{{ item.label }}</dt>
        <dd>{{ value | strip }}</dd>
      {% endif %}
    {% endif %}
  {% endfor %}

<dd>
  <b>{{'Adaptation Data'}}</b><br>
  &emsp;<i>{{'Years between original and adaptation:'}}&ensp;</i>{{ page.Adapt_data.years_between }}<br>
  &emsp;<i>{{'Same author as original: '}}</i>&ensp;{{ page.Adapt_data.same_author }}<br><br>

  {% if page.Drama_data.performed == true %}
    <b>{{'Performance Data'}}</b><br>
    &#8201;&emsp;<i>{{'Theatre:'}}&ensp;</i>{{ page.Drama_data.theatre_1 }}<br>
    &#8201;&emsp;<i>{{'Location:'}}</i>&ensp;{{ page.Drama_data.location_1 }}<br>
    &emsp;{% if page.Drama_data.date_1 != "" %}
    <i>{{'First performance:'}}</i>&ensp;{{ page.Drama_data.date_1 }}
    {% endif %}<br>
    &emsp;{% if page.Drama_data.theatre_manager_1 != "" %}
    <i>{{'Theatre Manager:'}}</i>&ensp;{{ page.Drama_data.theatre_manager_1 }}
    {% endif %}<br>


  {% endif %}

  <br><b>{{'Adaptation Notes'}}</b><br>{% for i in page.adap_notes %}
  <ul><li>{{ i.note }} {{'( Source: ''}}{{i.source}}{{')'}}</li></ul>
  {% endfor %}
  <b>{{'Adaptation Claims'}}</b><br>{% for c in page.Claim %}
  <ul><li> {{c.claim}}</li>
  {{ 'Source: '}} {{ c.source}} {{'('}}{{c.source_details}}{{')'}}</ul>
  {% endfor %}


</dd>

</dl>
