---
layout: generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Title'
    value: page.title
  - label: 'Author'
    value: page.author
  - label: 'Year'
    value: page.year
  - label: 'Adaptation Form'
    value: page.adap_form
  - label: 'Genre'
    value: page.genre
  - label: 'Genre (standardized)'
    value: page.genre_standard
  - label: 'Adaptation Type'
    value: page.adap_type
  - label: 'Location'
    value: page.location
  - label: 'Language'
    value: page.language
  - label: 'Original'
    value: page.adaptid.first
    type: link
---

